name: Deploy to WordPress.org

on:
  release:
    types: [released]

jobs:
  deploy:
    name: Deploy to WP.org
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Build release
        run: |
          npm install

          mkdir -p release/trunk
          grunt build:release

      - name: WordPress Plugin Deploy
        id: deploy
        uses: 10up/action-wordpress-plugin-deploy@stable
        with:
          generate-zip: true
          dry-run: true
        env:
          BUILD_DIR: ./release/trunk
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}

      # After the deploy, we also want to create a zip and upload it to the release on GitHub. We don't want
      # users to have to go to the repository to find our plugin :).
      - name: Upload release asset
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: ${{ github.workspace }}/${{ github.event.repository.name }}.zip
